@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* uses google font here */
  font-family: "Poppins", sans-serif;
}
body {
  height: 100svh;
  width: 100vw;
  background: rgb(232, 238, 238);
}

.container {
  padding-top: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputbar {
  width: 80%;
  height: 2rem;
}
.input1 {
  width: 70%;
  border: none;
  text-align: start;
  outline: none;
  height: 2rem;
  box-sizing: border-box;
  padding-left: 5px;
}
#addbut {
  width: 25%;
  height: 2rem;
  border: none;
  background: rgb(46, 226, 46);
  cursor: pointer;
  padding-left: 3px;
  border-top-right-radius: 10px;
}

.head {
  padding-bottom: 5px;
  text-align: center;
}

.list {
  padding-top: 20px;
  box-sizing: border-box;
}

.list h5 {
  font-size: 1rem;
}

ul li {
  border: 0.125px solid #a19f9f;
  list-style-type: none;

  margin-block-end: 12px;
  padding: 6px 12px;
  background: white;
  width: 80vw;
  display: flex;
  justify-content: space-between;
  height: 38px;
  border-radius: 7px;
}

ul li p {
  flex-grow: 1;
  padding: 2px;
  font-size: 21px;
  display: flex;
  align-items: center;
  font-weight: 300px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn {
  cursor: pointer;
  color: red;
  border: none;
  outline: none;
  font-size: 16px;
  background: none;
  font-weight: 600;
  align-self: center;
}

.donebtn {
  color: green;
  padding: 4px;
}

.dellbtn {
  color: red;
  padding: 4px;
}

.todolist {
  max-height: 60svh;
  overflow-y: scroll;
  scrollbar-width: none;
}
